@inject SignInManager<AppUser> SignInManager

@model RegisterViewModel
@{
    ViewData["Title"] = "Đăng ký tài khoản";
    Layout  = "_LoginLayout.cshtml";
}
<style>
    @@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
    /* .bg-login-image {
              background-image: url(https://xuanthulab.net/public/img/logo.png);
              background-position: center;
              background-repeat: no-repeat;
              background-size: contain;
              background-color: black;
          } */

    body {
        font-family: 'Poppins', sans-serif;
        background: #ececec !important;
        margin-bottom: 0 !important;
    }
    /*------------ Login container ------------*/
    .box-area {
        width: 930px;
    }
    /*------------ Right box ------------*/
    .right-box {
        padding: 40px 30px 40px 40px;
    }
    /*------------ Custom Placeholder ------------*/
    ::placeholder {
        font-size: 16px;
    }

    .rounded-4 {
        border-radius: 20px;
    }

    .rounded-5 {
        border-radius: 30px;
    }
</style>


<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <!----------------------- Login Container -------------------------->
    <div class="row border rounded-5 p-3 bg-white shadow box-area">
        <!--------------------------- Left Box ----------------------------->
        <div class="col-md-4 rounded-4 d-flex justify-content-center align-items-center flex-column left-box" style="background: #4e73df;">
            <div class="featured-image mb-3">
                <img src="~/images/1.jpg" class="img-fluid" style="width: 500px;">
            </div>
            <p class="mb-0 text-white fs-2" style="font-family: 'Courier New', Courier, monospace; font-weight: 600;">Đăng ký</p>
            <p class="mb-0 text-white text-wrap text-center" style="width: 17rem;font-family: 'Courier New', Courier, monospace;">Để có thể trải nghiệm hết dịch vụ của chúng tôi</p>
        </div>
        <!-------------------- ------ Right Box ---------------------------->

        <div class="col-md-8 right-box">
            <div class="p-5">
                <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Tạo tài khoản mới</h1>
                </div>
                <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="user">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <input asp-for="UserName" class="form-control form-control-user" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Email" class="form-control form-control-user" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>


                    <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <input asp-for="Password" class="form-control form-control-user">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="col-sm-6">
                            <input asp-for="ConfirmPassword" class="form-control form-control-user">
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-user btn-block">Đăng ký</button>
                    <hr>

                    

                </form>
                @{
                    var schemes = await SignInManager.GetExternalAuthenticationSchemesAsync();
                    var loginProviders = schemes.ToList();
                    if (loginProviders.Count == 0)
                    {
                    }
                    else
                    {
                        <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
                            <div>
                                <p>
                                    @foreach (var provider in loginProviders)
                                    {
                                        var cssClass = "btn btn-user btn-block";
                                        var icon = "";
                                        if (provider.Name == "Google")
                                        {
                                            cssClass = "btn btn-google btn-user btn-block";
                                            icon = "<i class=\"fab fa-google\"></i>";
                                        }
                                        else if (provider.Name == "Facebook")
                                        {
                                            cssClass = "btn btn-facebook btn-user btn-block";
                                            icon = "<i class=\"fab fa-facebook\"></i>";
                                        }
                                        <button type="submit" class="@cssClass"
                                                name="provider" value="@provider.Name"
                                                title="Log in using your @provider.Name account">
                                            Đăng ký bằng @Html.Raw(icon) @provider.Name
                                        </button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }
                <div class="text-center">
                    <a class="small" asp-action="ForgotPassword">Quên mật khẩu?</a>
                </div>
                <div class="text-center">
                    <small>Đã có tài khoản?<a asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]"> Đăng nhập</a></small>
                    
                </div>
            </div>
        </div>
        </div>
    </div>
</div>




@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
