@using webbanao.Menu
@model IEnumerable<webbanao.Models.Blog.Post>
@inject AdminSidebarService _AdminSidebarService
@{
    ViewData["Title"] = "Danh sách bài viết";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Tạo mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slug)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Published)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    <a asp-action="Details" asp-route-id="@item.PostId">@Html.DisplayFor(modelItem => item.Title)</a>  
                <br />
                <span>@string.Join(",",item.PostCategories.Select(pc=>pc.Category.Title))</span>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Slug)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author.UserName)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Published)
                </td>
            <td>
                
                <a class="btn-success btn" asp-action="Edit" asp-route-id="@item.PostId">Edits</a>
                <a class="btn-danger btn" asp-action="Delete" asp-route-id="@item.PostId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


<partial name="_PagingPartial" model="@ViewBag.paging" />

@{
    _AdminSidebarService.SetActive("Posts", "Index", "Blog");
}

@section Sidebar
{
    @Html.Raw(_AdminSidebarService.renderHtml())
}